# Features of OOP

In [1]:
class Person:
    def __init__(self, name, place):
        self.name=name
        self.place=place
    def display_name(self):
        print('The name is:', self.name)
    def display_place(self):
        print('The name is:', self.place)

In [2]:
# Creating an object of the clas

p1=Person('Ruchi', 'Orission')

In [3]:
p1

In [4]:
p1.display_name()

The name is: Ruchi

In [5]:
p1.display_place()

The name is: Orission

## Inheritance

In [6]:
class Student (Person):
    pass

In [7]:
s1=Student('Richa', 'Orissa')

In [8]:
s1.display_name()

The name is: Richa

In [9]:
s1.display_place()

The name is: Orissa

In [10]:
class Student (Person):
    def __init__(self,salary):
        self.salary=salary
    def display_salary(self):
        print('The Salary:', self.salary)

In [11]:
s2=Student('Arshdeep', 'Punjab', 900000)

TypeError: __init__() takes 2 positional arguments but 4 were given

In [12]:
s2=Student(900000)

In [13]:
s2.display_salary()

The Salary: 900000

In [14]:
s2.display_name()

AttributeError: 'Student' object has no attribute 'name'

In [15]:
class Student (Person):
    def __init__(self,name, place,salary):
        self.salary=salary
    def display_salary(self):
        print('The Salary:', self.salary)

In [16]:
s3=Student('Arshdeep', 'Punjab', 90000000)

In [17]:
s3.display_name()

AttributeError: 'Student' object has no attribute 'name'

In [18]:
# super keyword

class Student (Person):
    def __init__(self,name, place,salary):
        super().__init__(name, place)
        self.salary=salary
    def display_salary(self):
        print('The Salary:', self.salary)

In [19]:
s3=Student('Arshdeep', 'Punjab', 90000000)

In [20]:
s3.display_name()

The name is: Arshdeep

In [21]:
s3.display_place()

The name is: Punjab

In [22]:
s3.display_salary()

The Salary: 90000000

## Overriding

In [23]:
class Student (Person):
    def __init__(self,name, place,salary):
        super().__init__(name, place)
        self.salary=salary
    def display_salary(self):
        print('The Salary:', self.salary)
        
    def display_name(self):
        self.name='Student of Section A'
        print('The name is:', self.name)

In [24]:
s4=Student('Arshdeep', 'Punjab', 90000000)

In [25]:
s4.display_place()

The name is: Punjab

In [28]:
s4.display_salary()

The Salary: 90000000

In [29]:
s4.display_name()

The name is: Student of Section A

# Polymorphism

In [30]:
class India:
    def capital(self):
        print('The capital of India is New Delhi')
        
    def language(self):
        print ('Official language of India is Hindi')

In [31]:
class China:
    def capital(self):
        print('The capital of China is Beijing')
        
    def language(self):
        print ('Official language of China is Mandarin')

In [32]:
# create an object of India

my_country=India()

In [33]:
my_country.capital()

The capital of India is New Delhi

In [34]:
my_country.language()

Official language of India is Hindi

In [35]:
# create an object of China

other_country=China()

In [36]:
other_country.capital()

The capital of China is Beijing

In [37]:
other_country.language()

Official language of China is Mandarin

# Inheritance involving 3 classes

In [40]:
class A:
    pass
class B(A):
    pass
class C(B):
    pass

In [42]:
class A:
    pass
class B:
    pass
class C(A,B):
    pass